body {
    width:1000px;
}

container {
    width:550px;
}
.left {
    width:300px;
    height:200px;
    float:left;
    border:1px solid red;
}

.left_top_left {
    float:left;
    border:1px solid green;
    height:70px;
}

.left_top_right {
    border:1px solid salmon;
    float:left;
    height:70px;
}

.left_bottom {
    clear:both;
}
.right {
    width:200px;
    height: 200px;
    float:left;
    border:1px solid blue;
}

.text-area {
    font-size: 0.7em;
    color: grey;
}